.header-image {
    max-height: 60vh;
    overflow: hidden;

    img {
        display: block;
        width: 100vw;
    }
}

.site-header {
    position: relative;
    padding: 1em;
    font-family: $font__sans;
    color: #fff;
    background-color: $color__skin;

    @include breakpoints(large) {
        padding: 1em 2em;
    }
}

.site-branding {
    min-height: 65px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.custom-logo-link {
    margin-right: 1em;

    img {
        display: block;
        height: 65px;
        width: auto;
    }

}

.site-branding-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
}

.site-title {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: 900;
    line-height: 1em;

    a {
        color: white;
        text-decoration: none;
        // font-family: '19thCenturyRenegade', $font__sans, sans-serif;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

}

.site-description {
    margin: 0;
    font-size: .93em;
    font-style: italic;
    font-weight: 100;
}

@include breakpoints(large) {
    .site-header {
        display: flex;
        justify-content: space-between;
    }

    .site-branding {
        width: 35%;
    }

    .site-navigation {
        width: 55%;
    }
}